.collection {
  display: grid;
  grid-template-columns: repeat(5, 276px);
  row-gap: 20px;
  column-gap: 12px;
  justify-content: center;
  height: fit-content;
}

.card {
  max-width: 276px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 35px;
  gap: 10px;
  cursor: default;
  border: 1px solid #fff;
  position: relative;
}

.card__wrapper {
  height: fit-content;
  border: 1px solid #fff;
  border-radius: 35px;
  padding: 5px;
}

@media screen and (max-width: 1460px) {
  .collection {
    grid-template-columns: repeat(4, 276px);
  }
}

@media screen and (max-width: 1160px) {
  .collection {
    grid-template-columns: repeat(3, 276px);
  }
}

@media screen and (max-width: 880px) {
  .collection {
    grid-template-columns: repeat(2, 276px);
  }
}

@media screen and (max-width: 600px) {
  .collection {
    grid-template-columns: repeat(2, 150px);
  }
}